.header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25vh;
    width: 100vw;
    overflow: hidden;
}

.button {
    padding: .5rem 1rem;
    border-radius: 5px;
    border: 1px solid transparent;
    margin-left: 1rem;
    display: flex;
    width: 5rem;
    color: #fff;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #6690FF;
    cursor: pointer;
    transition: all .3s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.button:hover {
    background-color: blue;
}

.input {
    width: 50%;
    height: 2.5rem;
    border-radius: 50px;
    border: 1px solid black;
    transition: all 0.3s;
    padding: .2rem 1rem;
}

.input:focus {
    border: 1px solid #000;
    width: 70%;
}

.container {
    width: 100vw;
    overflow: hidden;
    height: 100%;
    background-image: url('../../assets/P2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.avatar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 1rem 1rem 0 0;
}

.AvatarRoot {
    cursor: pointer;
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
    vertical-align: middle;
    overflow: hidden;
    user-select: none;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: var(--blackA3);
}

.AvatarImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.AvatarFallback {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: var(--violet11);
    font-size: 15px;
    line-height: 1;
    font-weight: 500;
}

.searchList {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    flex-wrap: wrap;
    overflow-x: hidden;
    /* background-color: rgba(255, 255, 255, .5); */
}

.product {
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 1rem 1%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    transition: all 0.3s;
    overflow: hidden;
    border: 2px solid transparent;
    cursor: pointer;
    background-color: #fff;
}

.product:hover {
    border: 2px solid #000;
}

.productImg {
    width: 100%;
    /* height: 10rem; */
    border-bottom: 1px solid #655959;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    width: 100%;
    object-fit: contain;
}

.productDetail {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 1rem 1rem 1rem;
}

.productDesc {
    background-color: blue;
    padding: .2rem .5rem;
    border-radius: 15px;
    color: #fff;
}

.productPrice {
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 5px;
}

.productAction {
    display: flex;
    flex-direction: row;
    flex-direction: space-between;
    align-items: center;
    width: 30vw;
    margin-top: 10px;
}

.DropdownMenuContent {
    min-width: 220px;
    background-color: white;
    border-radius: 6px;
    padding: 5px;
    box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform, opacity;
}

.home {
    margin-left: 1rem;
    color: #f5f5f5;
    cursor: pointer;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.home:hover {
    color: #fff;
}


.DropdownMenuItem {
    font-size: 13px;
    line-height: 1;
    border-radius: 3px;
    display: flex;
    align-items: center;
    height: 25px;
    padding: 0 5px;
    position: relative;
    padding-left: 25px;
    user-select: none;
    outline: none;
    cursor: pointer;
    border: 1px solid transparent;
}

.DropdownMenuItem:hover {
    background-color: #000;
    color: #fff;
}